.fade_anim img {
  animation: fadeAnim 1s ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c4e7f5;
}
